body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.img-fluid {
  height: 50px;
}

/* Mis trabajos */

#Mis-trabajos.bg-info {
  background-color: #373a3c !important; 
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title.fw-bold {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
